{{#if canShowImage}}
  <div class="row">
    <div class="col-sm-12">
      <img src={{imageUrl}} id="report-image" class="center-block img-responsive img-circle">
    </div>
  </div>
{{/if}}

<div class="row">
  {{#if model.names}}
    <div class="col-sm-6">
      <h4><span class="label label-primary">Known Names</span></h4>
      <ul class="list-group">
        {{#each model.names as |name|}}
          <li class="list-group-item">{{name.full}}</li>
        {{/each}}
      </ul>
    </div>
  {{/if}}

  {{#if model.emails}}
    <div class="col-sm-6">
      <h4><span class="label label-primary">Known Emails</span></h4>
      <ul class="list-group">
        {{#each model.emails as |email|}}
          <li class="list-group-item">{{email.email_address}}</li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
</div>

{{#if model.educations}}
  <div class="row">
    <div class="col-sm-12">
      <h4><span class="label label-warning">Education History</span></h4>
      <ul class="list-group">
        {{#each model.educations as |education|}}
        <li class="list-group-item">
          <h5 class="list-group-item-heading">{{education.school}}</h5>
          <p class="list-group-item-text">{{education.attended.end}}</p>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
{{/if}}

{{#if model.jobs}}
  <div class="row">
    <div class="col-sm-12">
      <h4><span class="label label-info">Known Employers</span></h4>
      <ul class="list-group">
        {{#each model.jobs as |job|}}
        {{#if job.company}}
        <li class="list-group-item">
          <h5 class="list-group-item-heading">{{job.company}}</h5>
          <p class="list-group-item-text">{{job.title}}</p>
        </li>
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
{{/if}}

{{#if model.social}}
  <div class="row">
    <div class="col-sm-12">
      <h4><span class="label label-danger">Social Media Presence</span></h4>
      <ul class="list-group">
        {{#each model.social as |source|}}
          {{#if source.type}}
            <a href="{{source.url}}" class="list-group-item col-xs-6 social-li" target="_blank">{{source.type}}</a>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
{{/if}}
