<div class="row">
  <div class="col-sm-3" />
  <div class="col-sm-6 text-center">
    {{#if model.names.[0].full}}
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            Your Report
          </div>
        </div>
        <div class="panel-body text-center">
          {{report-component model=model}}
        </div>
      </div>
    {{else}}
      <div class="row">
        {{no-results search= 'search'}}
      </div>
    {{/if}}
  </div>
  <div class="col-sm-3" />
</div>
{{#if model.names.[0].full}}
  <div class="row">
    <div class="col-sm-3" />
    <div class="col-sm-6 text-center">
      <button class="btn btn-success btn-md " {{action 'search'}}>Search Again</button>
      <button class="btn btn-primary btn-md " {{action 'saveReport'}}>Save Report</button>
    </div>
    <div class="col-sm-3" />
  </div>
{{/if}}
